// colors:
$text-light: #fff;
$text-dark: #161718;
$main-color: #dcb08b;
$secondary-color: rgba(0, 59, 39, 0.7);
$ternary-color: rgba(0, 99, 65, 0.8);
$link-color: #a37854;

// font
$font-size: 16px;
$font-size--small: 14px;
$font-family: 'Raleway', sans-serif;
$font-top-bot: 'Roboto', sans-serif;

// breakpoints
$tablet: 740px;
$desktop: 980px;
