/*404*/
.error {
    text-align: center;
    padding: 150px 0;
    background: #e3c383;
}

.error h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 100px;
}

.error a {
    padding: 20px 40px;
    background: #a37854;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

.error a:hover {
    color: #000;
}

/*šablona*/
.obec {
    color: green;
}

.obec h1 {
    color: red;
    font-weight: 700;
}


/*gallery*/

.nabidka {
    border-radius: 15px;
    border: none !important;
}

.nabidka img:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

/*Bonus*/
.bonus {
    padding-bottom: 50px;
    background: rgb(151, 132, 151);
}

.bonusSeznam {
    float: left;
    padding: 30px;
    background: #ccc;
    border: 1px solid #000;
    margin-right: 20px;
}

.bonusSeznam ul {
    margin-left: 30px;
}

.bonusSeznam ul li {
    line-height: 24px;
    list-style: armenian;
}

.bonusSeznam ul li a {
    color: #000;
    text-decoration: none;
}

.bonusSeznam ul li a:hover {
    color: green;
    text-decoration: underline;
}

.bonus p {
    padding-bottom: 15px;
}

.bonus h2 {
    padding: 25px 0;
}

/*přihlášení*/

.prihlaseni li {
    display: inline-block;
    margin-right: 15px;
    font-weight: 700;
    color: greenyellow;
    background: #000;
    padding: 5px;
    border: 1px solid #fff;
    line-height: 1;
}

.prihlaseni {
    float: left;
    font-size: 14px;
}

.prihlaseni li a {
    text-decoration: none;
    text-transform: uppercase;
    color: greenyellow;

}

.prihlaseni li a:hover {
    color: yellow;
}

/*blog*/
.blog {
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.blog:last-of-type {
    border: none;
}

.obr-blog {
    flex: 0 1 200px;
}

.blog img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.blogText {
    flex: 0 1 75%;
}

.blogText h2 a {
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}

.blogText h2 {
    padding-bottom: 25px;
}

.blogText h2 a:hover {
    text-decoration: underline;
    color: rgb(3, 66, 3);
}

.blogText span {
    display: block;
}

.blogText span i {
    margin-bottom: 8px;
    width: 35px;
}

.blogText span a {
    text-decoration: none;
    color: rgb(56, 56, 56);
    font-weight: 700;
}

.blogText span a:hover {
    text-decoration: underline;
    color: rgb(3, 66, 3);
}

.blogBtn {
    padding: 15px 30px;
    color: rgb(107, 87, 87);
    font-weight: 700;
    border: 2px solid rgb(107, 87, 87);
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.blogBtn:hover {
    color: black;
    border-color: black;
}

.blogText p {
    margin-bottom: 30px;
}

.older a,
.newer a {
    padding: 15px 30px;
    color: rgb(107, 87, 87);
    font-weight: 700;
    border: 2px solid rgb(107, 87, 87);
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.older a:hover,
.newer a:hover {
    color: black;
    border-color: black;
}

.blogText p {
    margin-bottom: 40px;
}

.older {
    position: absolute;
    bottom: 0;
    right: 0;
}

.newer {
    position: absolute;
    bottom: 0;
    left: 0;
}

.relative {
    position: relative;
}

/*category*/
.singlePost {
    padding-bottom: 50px;
}

.singlePost h2 {
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid rgb(54, 50, 50);
    margin: 0 auto 25px;
    width: 50%;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.singleIkony {
    text-align: center;
    margin-bottom: 20px;
}

.singleIkony span {
    margin-right: 20px;
}

.singleIkony span a {
    color: green;
    text-decoration: none;
    font-weight: 700;
}

.singleIkony span a:hover {
    text-decoration: underline;
}

.singlePost p {
    text-align: justify;
    padding: 10px 0;
}

.singlePost h3 {
    padding: 15px;
}

.singlePost ul li {
    padding-left: 30px;
}

.singlePost ol li {
    margin-left: 30px;
}

.singlePost li {
    line-height: 20px;
}

.singlePost .blogBtn {
    display: inline-block;
    margin-top: 30px;
}


/*pro single-header.php*/
.singleblog {
    height: 260px;
}
