@import '../partials/variables';
@import '../partials/mixins';

@include links;

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-dark;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 92%;
}

// header
@media screen and (max-width: $tablet) {
  .openTime {
    display: block;
  }
}

.topLine {
  @include top-line;
}

.topLine span {
  margin-right: 20px;

  a {
    text-decoration: none;
  }

  a:hover {
    color: $main-color;
    text-decoration: underline;
  }
}

.topLineSoc {
  float: right;
  font-size: 18px;

  a:hover {
    color: $main-color;
  }
}

.headerMenu {
  background: $ternary-color;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    background: url('../img/logo-kavarna.png') center center no-repeat;
    width: 300px;
    height: 90px;
  }

  .menu ul li {
    display: inline-block;
  }
  .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 33px 15px;
    display: block;
    border-radius: 10px;
  }
  .menu ul li a:hover {
    background: $secondary-color;
  }
}

@media screen and (max-width: 960px) {
  .menu {
    display: none;
  }
}

header {
  background: url('../img/header.jpg') center no-repeat;
  background-size: cover;
}

.slogan {
  text-align: right;
  color: $text-light;
  padding: 65px 0 165px;
}

.slogan p {
  font-size: 34px;
  font-weight: 200;
}

@media screen and (max-width: $desktop) {
  .slogan p {
    font-size: 26px;
  }
}

@media screen and (max-width: $tablet) {
  .slogan {
    text-align: center;
  }
}

.main-button {
  @include button;
  margin-top: 50px;
}

.main-button:hover {
  color: $text-light;
}

.headerLine {
  color: $text-light;
  background: rgba(0, 0, 0, 0.6);
}

.headerLine .container {
  display: flex;
  justify-content: flex-end;
}

.tym {
  background: url('../img/img2.png') left center no-repeat;
  padding: 20px 70px;
}

.kava {
  background: url('../img/img1.png') left center no-repeat;
  padding: 20px 0 20px 70px;
}

.headerLine p {
  line-height: $line-height;
}

@media screen and (max-width: $tablet) {
  .headerLine .container {
    flex-direction: column;
    padding-left: 30px;
  }
}

/* Section */
.medovnik {
  background: $main-color;
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  @include headline-h1;
  padding: 30px 0 50px;
  text-align: center;
}

.medovnik img {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin: 40px 0;
}

.medovnik h2 {
  @include headline-h2;
}

@media screen and (max-width: 1200px) {
  .medovnik img {
    width: 100%;
  }

  .medovnik h2 {
    font-size: 4.5vw;
  }
}

.akce {
  padding: 50px 0 120px;
  .container {
    display: flex;
    justify-content: space-between;
  }
}

.akceLeft,
.akceRight {
  flex: 0 1 45%;
}

.akce h3 {
  @include headline-h3;
  padding-bottom: 40px;
}

.akce p {
  line-height: $line-height;
}

.akceRight p {
  margin-bottom: 10px;
}

.akceRight input[type='email'] {
  padding: 15px;
  font-size: $font-size;
  width: 70%;
  margin-bottom: 10px;
}

.akceRight input[type='submit'] {
  background-color: $secondary-color;
  color: $text-light;
  text-transform: uppercase;
  border: none;
  padding: 17px 30px;
  font-weight: 700;
  font-size: $font-size;
  transition: all 0.3s ease-out;
  display: block;
}

.akceRight input[type='submit']:hover {
  background-color: $main-color;
  cursor: pointer;
}

.line {
  @include line;
}

@media screen and (max-width: 1200px) {
  .akceRight input[type='email'] {
    display: block;
  }

  .akceRight input[type='submit'] {
    display: block;
  }
}

@media screen and (max-width: $desktop) {
  .akce .container {
    flex-direction: column;
  }

  .akceLeft {
    margin-bottom: 50px;
  }

  .line {
    margin: 0 auto 30px;
    width: 30%;
  }
}

@media screen and (max-width: $tablet) {
  .akceRight input[type='email'] {
    width: 100%;
    text-align: center;
  }
}

/*Footer*/
.footer {
  background: $ternary-color;
  color: $text-light;
  padding: 40px 0;
  font-size: $font-size--small;
  .container {
    display: flex;
    justify-content: space-between;
  }
  h4 {
    padding-bottom: 25px;
  }
  ul li {
    line-height: $line-height;
    list-style: none;
  }
  ul li a {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
    color: $text-dark;
  }
}

.footerMenu ul li::first-letter {
  text-transform: uppercase;
}

.footerMenu ul li a {
  text-transform: lowercase;
}

.footerKontakt {
  flex-basis: 40%;
}

@media screen and (max-width: $desktop) {
  .footerKontakt {
    flex-basis: auto;
  }
}

.footer .container {
  justify-content: flex-start;
}

.footerMenu {
  flex-basis: 40%;
}

@media screen and (max-width: $tablet) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }

  .footerMenu {
    margin-bottom: 50px;
  }
}

.copy {
  font-size: $font-size--small;
  padding: 15px 0;
  font-family: $font-top-bot;

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  a {
    color: $text-dark;
    text-decoration: none;
    font-weight: 700;
  }

  &:hover {
    text-decoration: none;
    color: $main-color;
  }
}

@media screen and (min-width: $tablet) {
  .copy .container {
    flex-direction: row;
  }
}
