a {
  color: #fff;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #161718;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 92%;
}

@media screen and (max-width: 740px) {
  .openTime {
    display: block;
  }
}
.topLine {
  background: rgba(0, 59, 39, 0.7);
  color: #fff;
  line-height: 35px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.topLine span {
  margin-right: 20px;
}
.topLine span a {
  text-decoration: none;
}
.topLine span a:hover {
  color: #dcb08b;
  text-decoration: underline;
}

.topLineSoc {
  float: right;
  font-size: 18px;
}
.topLineSoc a:hover {
  color: #dcb08b;
}

.headerMenu {
  background: rgba(0, 99, 65, 0.8);
}
.headerMenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMenu .logo {
  background: url("../img/logo-kavarna.png") center center no-repeat;
  width: 300px;
  height: 90px;
}
.headerMenu .menu ul li {
  display: inline-block;
}
.headerMenu .menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 33px 15px;
  display: block;
  border-radius: 10px;
}
.headerMenu .menu ul li a:hover {
  background: rgba(0, 59, 39, 0.7);
}

@media screen and (max-width: 960px) {
  .menu {
    display: none;
  }
}
header {
  background: url("../img/header.jpg") center no-repeat;
  background-size: cover;
}

.slogan {
  text-align: right;
  color: #fff;
  padding: 65px 0 165px;
}

.slogan p {
  font-size: 34px;
  font-weight: 200;
}

@media screen and (max-width: 980px) {
  .slogan p {
    font-size: 26px;
  }
}
@media screen and (max-width: 740px) {
  .slogan {
    text-align: center;
  }
}
.main-button {
  color: #113524;
  background: #dcb08b;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-top: 50px;
}

.main-button:hover {
  color: #fff;
}

.headerLine {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

.headerLine .container {
  display: flex;
  justify-content: flex-end;
}

.tym {
  background: url("../img/img2.png") left center no-repeat;
  padding: 20px 70px;
}

.kava {
  background: url("../img/img1.png") left center no-repeat;
  padding: 20px 0 20px 70px;
}

.headerLine p {
  line-height: 23px;
}

@media screen and (max-width: 740px) {
  .headerLine .container {
    flex-direction: column;
    padding-left: 30px;
  }
}
/* Section */
.medovnik {
  background: #dcb08b;
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  color: #161718;
  font-size: 43px;
  font-weight: 400;
  padding: 30px 0 50px;
  text-align: center;
}

.medovnik img {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin: 40px 0;
}

.medovnik h2 {
  color: rgba(0, 99, 65, 0.8);
  font-size: 53px;
  font-weight: 900;
}

@media screen and (max-width: 1200px) {
  .medovnik img {
    width: 100%;
  }
  .medovnik h2 {
    font-size: 4.5vw;
  }
}
.akce {
  padding: 50px 0 120px;
}
.akce .container {
  display: flex;
  justify-content: space-between;
}

.akceLeft,
.akceRight {
  flex: 0 1 45%;
}

.akce h3 {
  color: #161718;
  font-size: 23px;
  padding-bottom: 40px;
}

.akce p {
  line-height: 23px;
}

.akceRight p {
  margin-bottom: 10px;
}

.akceRight input[type=email] {
  padding: 15px;
  font-size: 16px;
  width: 70%;
  margin-bottom: 10px;
}

.akceRight input[type=submit] {
  background-color: rgba(0, 59, 39, 0.7);
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 17px 30px;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease-out;
  display: block;
}

.akceRight input[type=submit]:hover {
  background-color: #dcb08b;
  cursor: pointer;
}

.line {
  background: #dcb08b;
  width: 50px;
  height: 5px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .akceRight input[type=email] {
    display: block;
  }
  .akceRight input[type=submit] {
    display: block;
  }
}
@media screen and (max-width: 980px) {
  .akce .container {
    flex-direction: column;
  }
  .akceLeft {
    margin-bottom: 50px;
  }
  .line {
    margin: 0 auto 30px;
    width: 30%;
  }
}
@media screen and (max-width: 740px) {
  .akceRight input[type=email] {
    width: 100%;
    text-align: center;
  }
}
/*Footer*/
.footer {
  background: rgba(0, 99, 65, 0.8);
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer h4 {
  padding-bottom: 25px;
}
.footer ul li {
  line-height: 23px;
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
}
.footer:hover {
  text-decoration: underline;
  color: #161718;
}

.footerMenu ul li::first-letter {
  text-transform: uppercase;
}

.footerMenu ul li a {
  text-transform: lowercase;
}

.footerKontakt {
  flex-basis: 40%;
}

@media screen and (max-width: 980px) {
  .footerKontakt {
    flex-basis: auto;
  }
}
.footer .container {
  justify-content: flex-start;
}

.footerMenu {
  flex-basis: 40%;
}

@media screen and (max-width: 740px) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }
  .footerMenu {
    margin-bottom: 50px;
  }
}
.copy {
  font-size: 14px;
  padding: 15px 0;
  font-family: "Roboto", sans-serif;
}
.copy .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.copy a {
  color: #161718;
  text-decoration: none;
  font-weight: 700;
}
.copy:hover {
  text-decoration: none;
  color: #dcb08b;
}

@media screen and (min-width: 740px) {
  .copy .container {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */