body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #161718;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #dcb08b;
  text-decoration: underline;
}

h1 {
  color: #161718;
  font-size: 43px;
  font-weight: 400;
}

h2 {
  color: #0c8a5e;
  font-size: 33px;
  font-weight: 700;
  padding: 20px 0;
}

h3 {
  color: #161718;
  font-size: 23px;
}

.container {
  margin: auto;
  width: 92%;
}

@media screen and (max-width: 740px) {
  .openTime {
    display: block;
  }
}
.topLine {
  background: rgba(8, 77, 53, 0.8);
  color: #fff;
  line-height: 35px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.topLine span {
  margin-right: 20px;
}

.topLineSoc {
  float: right;
  font-size: 18px;
}
.topLineSoc a:hover {
  color: #dcb08b;
}

.headerMenu {
  background: rgba(12, 138, 94, 0.7);
}
.headerMenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMenu .logo {
  background: url("../img/logo-kavarna.png") center center no-repeat;
  width: 300px;
  height: 90px;
}
.headerMenu .menu ul li {
  display: inline-block;
}
.headerMenu .menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 33px 15px;
  display: block;
  border-radius: 10px;
}
.headerMenu .menu ul li a:hover {
  background: #084d35;
}

@media screen and (max-width: 960px) {
  .menu {
    display: none;
  }
}
header {
  background: url("../img/header.jpg") center no-repeat;
  background-size: cover;
}

.slogan {
  text-align: right;
  color: #fff;
  padding: 65px 0 165px;
}
.slogan p {
  font-size: 34px;
  font-weight: 200;
}

@media screen and (max-width: 980px) {
  .slogan p {
    font-size: 26px;
  }
}
@media screen and (max-width: 740px) {
  .slogan {
    text-align: center;
  }
}
.main-button {
  color: #113524;
  background: #dcb08b;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-top: 50px;
}
.main-button:hover {
  color: #fff;
  text-decoration: none;
}

.headerLine {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}
.headerLine .container {
  display: flex;
  justify-content: flex-end;
}
.headerLine p {
  line-height: 23px;
}

.tym {
  background: url("../img/img2.png") left center no-repeat;
  padding: 20px 70px;
}

.kava {
  background: url("../img/img1.png") left center no-repeat;
  padding: 20px 0 20px 70px;
}

@media screen and (max-width: 740px) {
  .headerLine .container {
    flex-direction: column;
    padding-left: 30px;
  }
}
/* Section */
.medovnik {
  background: #dcb08b;
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  padding: 30px;
  text-align: center;
}

.medovnik img {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin: 40px 0;
}

@media screen and (max-width: 1200px) {
  .medovnik img {
    width: 100%;
  }
  .medovnik h2 {
    font-size: 4.5vw;
  }
}
.akce {
  padding: 50px 0 120px;
}
.akce .container {
  display: flex;
  justify-content: space-between;
}
.akce h3 {
  padding-bottom: 40px;
}
.akce p {
  line-height: 23px;
}

.akceLeft {
  flex: 0 1 45%;
}

.akceRight {
  flex: 0 1 45%;
}
.akceRight p {
  margin-bottom: 10px;
}
.akceRight input[type=email] {
  padding: 15px;
  font-size: 16px;
  width: 70%;
  margin-bottom: 10px;
}

.line {
  background: #dcb08b;
  width: 50px;
  height: 5px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .akceRight input[type=email] {
    display: block;
  }
  .akceRight input[type=submit] {
    display: block;
  }
}
@media screen and (max-width: 980px) {
  .akce .container {
    flex-direction: column;
  }
  .akceLeft {
    margin-bottom: 50px;
  }
  .line {
    margin: 0 auto 30px;
    width: 30%;
  }
}
@media screen and (max-width: 740px) {
  .akceRight input[type=email] {
    width: 100%;
    text-align: center;
  }
}
/*Nabidka*/
.nabidka {
  padding-bottom: 50px;
  text-align: center;
}
.nabidka p {
  line-height: 23px;
}
.nabidka h2 {
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: 0 auto;
}
.nabidka div {
  padding-top: 25px;
}

/*Kontakt*/
.kontakt {
  padding-bottom: 50px;
}

.adresaOtevreno {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.adresaOtevreno p {
  line-height: 23px;
}
.adresaOtevreno p a {
  color: #dcb08b;
  text-decoration: none;
}
.adresaOtevreno p a:hover {
  color: #084d35;
  text-decoration: underline;
}

.adresaOtevreno p i {
  margin-right: 15px;
}

.karty {
  text-align: center;
}

.map iframe {
  width: 100%;
  background: #000;
  padding: 5px 0;
  margin: 30px 0;
}

.kontaktForm {
  text-align: center;
}

.kontaktForm input[type=text],
.kontaktForm textarea {
  display: block;
  padding: 15px;
  font-size: 16px;
  width: 70%;
  margin: 0 auto 5px;
}

.kontaktForm textarea {
  height: 130px;
  font-family: "Raleway", sans-serif;
  border-color: #ccc;
}

/*Rezervace*/
.rezervace {
  padding-bottom: 50px;
}
.rezervace i {
  margin: 0 15px 8px 0;
}
.rezervace h3 {
  text-align: center;
  padding-top: 25px;
}

.rezText {
  padding-bottom: 30px;
}

.rezIkon a {
  color: #dcb08b;
  text-decoration: none;
}
.rezIkon a:hover {
  color: #084d35;
  text-decoration: underline;
}

/*Footer*/
.footer {
  background: #0c8a5e;
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer h4 {
  padding-bottom: 10px;
}
.footer ul li {
  line-height: 23px;
  list-style: none;
}

.footerMenu {
  flex-basis: 40%;
}
.footerMenu .footerMenu ul li a:hover {
  text-decoration: underline;
  color: #dcb08b;
}

.footerKontakt {
  flex-basis: 40%;
}

@media screen and (max-width: 980px) {
  .footer .container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 740px) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }
  .footerMenu {
    margin-bottom: 30px;
  }
}
.copy {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 15px 0;
}
.copy .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.copy a {
  color: #161718;
  text-decoration: none;
  font-weight: 700;
}
.copy a:hover {
  color: #dcb08b;
}

@media screen and (min-width: 740px) {
  .copy .container {
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */