@import 'variables';

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-dark;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  transition: all 0.3s ease-out;
}

a:hover {
  transition: all 0.3s ease-out;
}

.container {
  margin: auto;
  width: 92%;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

// header
@media screen and (max-width: $tablet) {
  .openTime {
    display: none;
  }
}

.topLine {
  background: $secondary-color;
  color: $text-light;
  line-height: 37px;
  font-size: $font-size--small;
  font-family: $font-top-bot;
}

.topLine span {
  margin-right: 20px;
}

.topLine span a {
  color: $text-light;
  text-decoration: none;
}

.topLine span a:hover {
  color: $link-color;
  text-decoration: underline;
}

.topLineSoc {
  float: right;
  font-size: 18px;
}

.topLineSoc a {
  color: $text-light;
}

.topLineSoc a:hover {
  color: $link-color;
}

.headerMenu {
  background: $ternary-color;
}

.headerMenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: url('../img/logo-kavarna.png') center center no-repeat;
  width: 300px;
  height: 90px;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: $text-light;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 33px 15px;
  display: block;
  border-radius: 10px;
}

.menu ul li a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/*Hamburger*/
.mmenu-icon-wrapper {
  position: absolute;
  top: 3.9em;
  right: 1.5em;
  height: 26px;
  width: 26px;
  cursor: pointer;
  z-index: 2;
}

@media screen and (min-width: 480px) {
  .mmenu-icon-wrapper {
    top: 4.3em;
  }
}

@media screen and (min-width: $tablet) {
  .mmenu-icon-wrapper {
    top: 3.9em;
  }
}

.mmenu-icon,
.mmenu-icon:before,
.mmenu-icon:after {
  content: '';
  position: absolute;
  border-radius: 1em;
  height: 2px;
  width: 26px;
  background: white;
  transition: all 0.2s ease;
}

.mmenu-icon {
  top: 0.75em;
}

.mmenu-icon:before {
  top: -0.5em;
}

.mmenu-icon:after {
  top: 0.5em;
}

.mmenu-active .mmenu-icon {
  background: transparent;
  transform: rotate(-135deg);
}

.mmenu-active .mmenu-icon:before,
.mmenu-active .mmenu-icon:after {
  top: 0;
}

.mmenu-active .mmenu-icon:before {
  transform: rotate(90deg);
}

.mmenu-active .mmenu-icon,
.mmenu-active .mmenu-icon:before,
.mmenu-active .mmenu-icon:after {
  background: white;
}

.mmenu-menu {
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: white;
  text-align: center;
  z-index: 2;
}

.mmenu-active .mmenu-menu {
  opacity: 1;
  pointer-events: initial;
}

.mmenu-menu ul {
  display: block;
  transition: all 0.4s ease;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  font-size: 20px;
  line-height: 200%;
}

.mmenu-menu ul li a {
  color: $text-light;
  text-decoration: none;
}

.mmenu-menu ul li a:hover {
  color: #5d9242;
}

.mmenu-active .mmenu-menu ul {
  transform: translate(-50%, -50%) scale(1);
}

@media screen and (max-width: $desktop) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .mmenu-menu,
  .mmenu-icon-wrapper {
    display: none !important;
  }
}

header {
  background: url('../img/header.jpg') center no-repeat;
  background-size: cover;
}

.slogan {
  text-align: right;
  color: $text-light;
  padding: 65px 0 165px;
}

.slogan p {
  font-size: 34px;
  font-weight: 200;
}

.slogan a {
  color: #113524;
  background: $main-color;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 50px;
  display: inline-block;
}

.slogan a:hover {
  color: $text-light;
}

@media screen and (max-width: $desktop) {
  .slogan p {
    font-size: 26px;
  }
}

@media screen and (max-width: $tablet) {
  .slogan {
    text-align: center;
  }

  .slogan a {
    color: red;
  }
}

.headerLine {
  color: $text-light;
  background: rgba(0, 0, 0, 0.6);
}

.headerLine .container {
  display: flex;
  justify-content: flex-end;
}

.tym {
  background: url('../img/img2.png') left center no-repeat;
  padding: 20px 70px;
}

.kava {
  background: url('../img/img1.png') left center no-repeat;
  padding: 20px 0 20px 70px;
}

.headerLine p {
  line-height: 22px;
}

@media screen and (max-width: $tablet) {
  .headerLine .container {
    flex-direction: column-reverse;
    padding-left: 30px;
  }
}

/*Section*/
.medovnik {
  background: $main-color;
  text-align: center;
  padding-bottom: 40px;
  /* border-top: 10px solid red; */
}

h1 {
  font-size: 43px;
  padding: 30px 0 50px;
  text-align: center;
  font-weight: 400;
}

.medovnik img {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin: 40px 0;
}

.medovnik h2 {
  font-size: 53px;
  font-weight: 900;
  color: $ternary-color;
}

@media screen and (max-width: 1200px) {
  .medovnik img {
    width: 100%;
  }

  .medovnik h2 {
    font-size: 4.5vw;
  }
}

.akce {
  padding: 50px 0 120px;
}

.akce .container {
  display: flex;
  justify-content: space-between;
}

.akceLeft,
.akceRight {
  flex: 0 1 45%;
}

.akce h3 {
  color: #555;
  font-size: 23px;
  padding-bottom: 40px;
}

.akce p {
  line-height: 26px;
}

.akceRight p {
  margin-bottom: 10px;
}

.akceRight input[type='email'] {
  padding: 15px;
  font-size: $font-size;
  width: 70%;
  margin-bottom: 10px;
}

.akceRight input[type='submit'] {
  background-color: $secondary-color;
  color: $text-light;
  text-transform: uppercase;
  border: none;
  padding: 17px 30px;
  font-weight: 700;
  font-size: $font-size;
  transition: all 0.3s ease-out;
  display: block;
}

.akceRight input[type='submit']:hover {
  background-color: $main-color;
  color: #000;
  cursor: pointer;
}

.cara {
  background: #a37854;
  width: 50px;
  height: 5px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .akceRight input[type='email'] {
    display: block;
  }

  .akceRight input[type='submit'] {
    display: block;
  }
}

@media screen and (max-width: $desktop) {
  .akce .container {
    flex-direction: column;
  }

  .akceLeft {
    margin-bottom: 50px;
  }

  .cara {
    margin: 0 auto 30px;
    width: 30%;
  }
}

@media screen and (max-width: $tablet) {
  .akceRight input[type='email'] {
    width: 100%;
    text-align: center;
  }
}

/*Footer*/
.footer {
  background: $ternary-color;
  color: $text-light;
  padding: 40px 0;
  font-size: $font-size--small;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer h4 {
  padding-bottom: 25px;
}

.footer ul li {
  line-height: 24px;
  list-style: none;
}

.footer ul li a {
  color: $text-light;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
  color: #000;
}

.footerMenu ul li::first-letter {
  text-transform: uppercase;
}

.footerMenu ul li a {
  text-transform: lowercase;
}

.footerKontakt {
  flex-basis: 40%;
}

@media screen and (max-width: $desktop) {
  .footerKontakt {
    flex-basis: auto;
  }
}

.footer .container {
  justify-content: flex-start;
}

.footerMenu {
  flex-basis: 40%;
}

@media screen and (max-width: $tablet) {
  .footer .container {
    flex-direction: column;
    text-align: center;
  }

  .footerMenu {
    margin-bottom: 50px;
  }
}

.copy {
  font-size: $font-size--small;
  padding: 15px 0;
  font-family: $font-top-bot;
}

.copy .container {
  display: flex;
  justify-content: space-between;
}

.copy a {
  color: #616161;
  text-decoration: none;
  font-weight: 700;
}

.copy a:hover {
  text-decoration: none;
  color: $link-color;
}

.copy .container {
  flex-direction: column;

  .copyR {
    margin-top: 5.5px;
  }
}

@media screen and (min-width: $tablet) {
  .copy .container {
    flex-direction: row;
  }
}
