@mixin links {
  a {
    color: $text-light;
    text-decoration: none;
    &:hover {
      color: $main-color;
      text-decoration: underline;
    }
  }
}

@mixin headers {
  h1 {
    color: $text-dark;
    font: {
      size: 43px;
      weight: 400;
    }
  }

  h2 {
    color: $ternary-color;
    font: {
      size: 33px;
      weight: 700;
    }
    padding: 20px 0;
  }

  h3 {
    color: $text-dark;
    font-size: 23px;
  }
}

//header
@mixin top-line {
  background: transparentize($secondary-color, 0.2);
  color: $text-light;
  line-height: 35px;
  font-size: $font-size--small;
  font-family: $font-top-bot;
}

@mixin button {
  color: #113524;
  background: $main-color;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  text: {
    decoration: none;
    transform: uppercase;
  }
  font-weight: 700;
  display: inline-block;
  &:hover {
    color: $text-light;
    text-decoration: none;
  }
}

@mixin line {
  background: $main-color;
  width: 50px;
  height: 5px;
  margin-bottom: 30px;
}

// section
@mixin link-text {
  color: $main-color;
  text-decoration: none;
  &:hover {
    color: $secondary-color;
    text-decoration: underline;
  }
}
