// colors:
$text-light: #fff;
$text-dark: #161718;
$main-color: #dcb08b;
$secondary-color: #084d35;
$ternary-color: #0c8a5e;

// font
$font-size: 16px;
$font-size--small: 14px;
$font-family: 'Raleway', sans-serif;
$font-top-bot: 'Roboto', sans-serif;

//width-height
$line-height: 23px;

// breakpoints
$tablet: 740px;
$desktop: 980px;
